.section.section-no-padding
  .parallax.filter-gradient.blue{"data-color" => "blue"}
    .parallax-background
      %img.parallax-background-image{:src => "img/bg2.jpg"}/
    .info
      %h1 Encargar libro
      %p Texto conclusivo sobre el libro, frase de venta.
      %a.btn.btn-neutral.btn-lg.btn-fill{:href => "http://www.creative-tim.com/product/awesome-landing-page"} Obtener copia
