.section.section-no-padding
  .parallax.filter-gradient.blue{"data-color" => "blue"}
    .parallax-background
      %img.parallax-background-image{:src => "assets/img/template/bg.jpg"}/
    .info
      %h1 Download this landing page for free!
      %p Beautiful multipurpose bootstrap landing page.
      %a.btn.btn-neutral.btn-lg.btn-fill{:href => "http://www.creative-tim.com/product/awesome-landing-page"} DOWNLOAD
