.section.section-presentation
  .container
    .row
      .col-md-6
        .description
          %h4.header-text 120 Páginas detalladas
          %p Texto descriptivo del libro, explicativo de las características.
          %p
            Texto explayándose sobre el libro.
          %p
            %a.btn.btn-fill.btn-info{"data-button" => "info", :href => "http://www.creative-tim.com/product/awesome-landing-page"}
              %i.fa.fa-file-pdf-o
              Descargar muestra

      .col-md-5.col-md-offset-1.hidden-xs
        %img{:src => "img/book-3d.png"}/
