.section.section-presentation
  .container
    .row
      .col-md-6
        .description
          %h4.header-text Una gran Historia sobre Rieles
          %p
            Un relato pedag칩gico y entretenido para todo lector
          %p
            Libro con tapa dura; m치s de 100 p치ginas con im치genes exclusivas, a color, de los ferrocarriles por el Mundo
          %p.italic
            A great story about Rail / An educational and entertaining story for all readers / Hardcover book / More than 100 pages with exclusive images, color, of railroads around the World.
          %p
            %a.btn.btn-fill.btn-info{"data-button" => "info", :href => "http://www.creative-tim.com/product/awesome-landing-page"}
              %i.fa.fa-file-pdf-o
              Descargar muestra

      .col-md-5.col-md-offset-1.hidden-xs
        %img{:src => "img/book-3d.png"}/
