.section.section-testimonial
  .container
    %h4.header-text.text-center Testimonios
    #carousel-example-generic.carousel.fade{"data-ride" => "carousel"}
      .carousel-inner{:role => "listbox"}
        .item
          .mask
            %img{:src => "img/quotes/1.jpg"}/
          .carousel-testimonial-caption
            %p Javiera Fuentes
            %h3 "Testimonio de Javiera."
        .item.active
          .mask
            %img{:src => "img/quotes/1.jpg"}/
          .carousel-testimonial-caption
            %p Javiera Fuentes
            %h3 "Otro testimonio."
        .item
          .mask
            %img{:src => "img/quotes/1.jpg"}/
          .carousel-testimonial-caption
            %p Javiera Fuentes
            %h3 "Y otro testimonio."
      %ol.carousel-indicators.carousel-indicators-blue
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
