.parallax.filter-gradient.blue{"data-color" => "blue"}
  .parallax-background
    %img.parallax-background-image{:src => "img/bg.jpg"}/
  .container
    .row
      .col-md-5.hidden-xs
        .parallax-image
          %img.phone{:src => "img/book.png", :style => "margin-top: 20px"}/
      .col-md-6.col-md-offset-1
        .description
          %h2 Trenes de Chile y el Mundo
          %h5.italic Trains in Chile and the World
        .buttons
          %button.btn.btn-fill.btn-neutral
            %i.fa.fa-shopping-cart
            Obtener copia
          %button.btn.btn-fill.btn-neutral
            %i.fa.fa-file-pdf-o
            Descargar muestra
