.parallax.filter-gradient.blue{"data-color" => "blue"}
  .parallax-background
    %img.parallax-background-image{:src => "img/bg.jpg"}/
  .container
    .row
      .col-md-5.hidden-xs
        .parallax-image
          %img.phone{:src => "img/book.png", :style => "margin-top: 20px"}/
      .col-md-6.col-md-offset-1
        .description
          %h2 Awesome landing page.
          %br/
          %h5 Be amazed by the best looking bootstrap landing page on the web! Your new app deserves an amazing page to show all of its features. Clear visual, light colours and beautifully aligned elements - they all try to make the users aware of your great app features!
        .buttons
          %button.btn.btn-fill.btn-neutral
            %i.fa.fa-apple
            Appstore
          %button.btn.btn-simple.btn-neutral
            %i.fa.fa-android
          %button.btn.btn-simple.btn-neutral
            %i.fa.fa-windows
